body {
    background-color: hsl(131, 43%, 37%);
    font-family: Inter;
}

.m-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: white;
}

.l-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 83%);
    height: 400px;
    width: 400px;
    gap: 30px;
    border-radius: 15px;
}

.l-container input {
    width: 300px;
    height: 50px;
    border-radius: 15px;
}

.l-container input:active {
    width: 300px;
    height: 50px;
    border-radius: 15px;
}

#usrnm {
    margin-top: 60px;
}

#login {
    width: 308px;
    height: 56px;
    border-radius: 15px;
    font-size: 30px;
    color: hsl(131, 43%, 37%);
    transition: 0.25s;
}

#login:hover {
    width: 308px;
    height: 56px;
    border-radius: 15px;
    font-size: 30px;
    background-color: hsl(130, 30%, 50%);
    color: rgb(255, 255, 255);
    transition: 0.25s;
}

#usrnm, #pswrd {
    font-size: 1.5rem;
}